customtkinter>=5.2.0
Pillow>=11.2.1
numpy>=2.2.6
huggingface_hub>=0.32.2
safetensors>=0.5.3
imageio-ffmpeg>=0.6.0
opencv-python>=4.10
imageio>=2.37
requests>=2.32

decord>=0.6.0
tqdm>=4.66.0
einops>=0.4.1
easydict>=1.13
